{% extends "base.html" %} {% block content %}

<h1 class="title">Add Customer</h1>

<form method="POST">
  <div class="field">
    <label class="label">Name</label>
    <input class="input" name="name" />
  </div>

  <div class="field">
    <label class="label">Email</label>
    <input class="input" name="email" />
  </div>

  <div class="field">
    <label class="label">Phone</label>
    <input class="input" name="phone" />
  </div>

  <button class="button is-success">Save</button>
</form>

{% endblock %}
